@using com.svnFacturame.cloud.frontend.core.Controllers
@model com.svnFacturame.cloud.frontend.core.Models.TR000020
@{
    ViewData["Title"] = "Create";
}
<ol class="breadcrumb">
    <li class="active"><i class="fas fa-home fa-fw"></i>@Convert.ToString(string.Format("{0:MMMM dd, yyyy}", DateTime.Now.ToUniversalTime().AddHours(-5)))</li>
</ol>
<hr />
<div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Numero" class="control-label">Nro Factura</label>
                <input asp-for="Numero" class="form-control" />
                <span asp-validation-for="Numero" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NumeroDoc" class="control-label">Numero Documento</label>
                <input asp-for="NumeroDoc" class="form-control" />
                <span asp-validation-for="NumeroDoc" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nombre" class="control-label"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Monto" class="control-label">Valor</label>
                <input asp-for="Monto" class="form-control" />
                <span asp-validation-for="Monto" class="text-danger"></span>
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Status, htmlAttributes: new { @class = "control-label col-md-2" })
                Activo
                @Html.RadioButtonFor(m => m.Status, true, new { @id = "Status", htmlAttributes = new { @class = "form-control" } })
                Inactivo
                @Html.RadioButtonFor(m => m.Status, false, new { @id = "Status", htmlAttributes = new { @class = "form-control" } })
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            </form>
        </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}